@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

// Custom theme
$rc-whitelabel-app-primary: mat.m2-define-palette(mat.$m2-deep-orange-palette, A200);
$rc-whitelabel-app-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $rc-whitelabel-app-warn: mat.define-palette(mat.$deep-orange-palette);

// Create a custom theme object
$rc-whitelabel-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $rc-whitelabel-app-primary,
    accent: $rc-whitelabel-app-accent,
    //warn: $rc-whitelabel-app-warn,
  )
));

@include mat.all-component-themes($rc-whitelabel-app-theme);
@include mat.all-component-typographies();


// Brand theming
// Referencing CSS vars that have been added to index.html
// This allows them to be set post-build by AppConfig

// Set by default for all channels
$clr-icon-cuisine:    var(--clr-icon-cuisine);
$clr-icon-restaurant: var(--clr-icon-restaurant);
$clr-icon-location:   var(--clr-icon-location);
$clr-grey-100:        var(--clr-grey-100);
$clr-grey-500:        var(--clr-grey-500);
$clr-grey-900:        var(--clr-grey-900);
$clr-text:            var(--clr-text-default);

// Set from Channel config
$clr-accent:          var(--clr-accent);
$clr-offers:          var(--clr-offers);
$clr-cta:             var(--clr-primary-cta);
$clr-header:          var(--clr-header-bgd);
$clr-header-txt:      var(--clr-header-fgd);
$img-channel-logo:    var(--img-logo);
$img-channel-bgd:     var(--img-bgd);

$clr-backdrop:        hsla(0 0% 15% / .5);

// For media queries
$breakpoints: (
  small: 42em,
  med: 50em,
  large: 65em,
  xlarge: 95em
);
@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
};

// Typography vars
$font-family-default: 'Roboto', sans-serif;
$font-family-heading: 'Roboto Slab', 'Georgia', serif;
$font-weight-lite: 300;
$font-weight-regular: 400;
$font-weight-heavy: 500;
// Layout vars
$layout-header-height: 56px;
$layout-max-width: 960px;
$loaderSize: 48px;
$container-padding: 12px;

// Global resets
* { box-sizing: border-box; }
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a { text-decoration: none; }
html { scroll-behavior: smooth; }
body {
  height: 100vh;
  margin: 0;
  background: $clr-grey-900;
  font-family: $font-family-default;
  color: $clr-text;
}
a, a:active, a:focus {
  outline: none;
}
*:focus { outline: 0 !important; }
::selection {
  background-color: black;
  color: white;
}

// Utility classes
// -------------------------------------------------
.rd-flex {
  display: flex;
  align-items: center;
  padding: 0;
}
.rd-flex-end { justify-content: flex-end; }
.rd-flex-spacer { flex: 1 0 auto; text-align: center;}
.rd-hide { display: none !important; }
.rd-show { opacity: 1 !important;}
.rd-highlight { color: $clr-accent; }
.rd-cta { background-color: $clr-cta; color: white;}
.rd-invisible { opacity: 0; pointer-events: none; display: none !important;}
.rd-hidden { opacity: 0;}
.rd-icon-restaurant { color: $clr-icon-restaurant !important;}
.rd-icon-cuisine { color: $clr-icon-cuisine !important;}
.rd-icon-location,
.rd-icon-my-location {
  color: $clr-icon-location !important;
  fill: $clr-icon-location
}
.rd-fill-accent { fill: $clr-accent; }
.rd-clr-accent { color: $clr-accent !important; }
.rd-separator::after {
  display: inline-block;
  content: '|';
  font-size: 1rem;
  color: $clr-text;
  margin-inline: .25rem 0.1rem;
}

// Loading component
// -------------------------------------------------------------------------
rd-loader {
  .rd-loader-container {
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rd-loader-svg {
    width: $loaderSize;
    height: $loaderSize;
    fill: $clr-accent;
    animation: spin .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    //animation-delay: .5s;
  }
  .rd-loader-txt {
    margin-top: 4px;
    font-size: 12px;
    letter-spacing: 1px;
    color: $clr-accent;
  }
  // color variations
  &.fill-accent {
    fill: $clr-accent;
    .rd-loader-txt { color: $clr-accent; }
  }
  &.fill-white {
    @include mq(small) {
      .rd-loader-svg {fill: white;}
      .rd-loader-txt { color: white; }
    }
  }
}

// Page layouts
// -------------------------------------------------------------------------
header {
  width: 100vw;
  z-index: 10;
  position: fixed;
  transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
  background: $clr-header;
  box-shadow: 0 2px 4px 0 #00000026;
  color: $clr-header-txt;
  height: auto;
  &.rd-hideHeader {
    @include mq(small) {
      transform: translateY(-($layout-header-height + $container-padding));
    }
  }
  a {
    cursor: pointer;
    color: currentColor;}
}
rd-header {
  display: flex;
  align-items: center;
  padding: calc(#{$container-padding}/2);
  column-gap: 8px;
  color: currentColor;
  @include mq(med) {
    padding: $container-padding;
  }
  a {
    display: flex;
    align-items: center;
    height: 200px;
    max-height: calc(#{$layout-header-height}/2.5);
    transition: max-height .3s ease-out;
    .rd-logo {
      height: 100%;
      color: currentColor;
      margin-right: 1rem;
    }
    @include mq(med) {
      max-height: $layout-header-height;
    }
  }
  .hide-small {
    display: none;
    @include mq(small) {
      display: inline-block;
    }
  }
  .rd-btn-nav {
    font-weight: $font-weight-regular;
    font-size: 1.1rem;
    min-width: 0;
    color: currentColor !important;
  }
  .rd-btn-nav-icon {
    margin-right: 0 !important;
    @include mq(med) {
      margin-right: .25rem !important;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: calc(100vh - #{$layout-header-height});
  background: #fff;
  padding-top: $layout-header-height + ($container-padding);
  @include mq(med) {
    background: #eee;
    padding-top: $layout-header-height + (2 * $container-padding);
  }
}
.rd-cover {
  display: none;
  @include mq(med){
    display: block;
    position: fixed;
    top:0; left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-image: $img-channel-bgd;
    background-size: cover;
    background-color: rgba(0,0,0, 0.5); // Make sure this color has an opacity of less than 1
    filter: blur(8px); // This be the blur
    scale: 1.1; // to remove blur border.
  }
}
.blur {
  @include mq(med) {
    position: fixed;
    top: 0;
    background: rgba(0,0,0, 0.5); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
  }
}
rd-footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background-color: inherit;
  padding: 0 0;
  color: white;
  font-size: 10px;
  font-weight: $font-weight-lite;
  .rd-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 0;
    margin: 16px;
    line-height: 1.2;
    p { margin: 0; }
  }
}

// Search form dialog
// -------------------------------------------------------------------------
.rd-search {
  width: min(100vw, 480px);
  height: 100vh;
  overflow-y: hidden;
  @include mq(med) {
    height: 62vh;
    transform: translateY(15vh);
  }
}
.rd-search-form-container {
  max-height: calc(62vh - 5rem);
}
.rd-search-content { }
.rd-search-autofill-container { }
.rd-search-input { width: 100%; }
.rd-search-error { margin-top: -1rem;}
.rd-search-autofill {
  height: auto;
  max-height: 0;
  transition:max-height 0.3s ease-out;
  overflow: auto;
  width: 100%;
  margin: -.5rem 0 0;
  padding: 0 0 1rem 0;
  li {
    border-top: 1px solid $clr-grey-100;
    border-radius: 6px;
  }
  li:first-child { border-top: 0; }
  li > a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .75rem .5rem;
    font-size: 1rem;
    color: $clr-text;
    transition: all .3s ease-out;
    outline: none;
    cursor: pointer;
    .rd-autofill-icon {
      width: 22px;
      height: 22px;
      font-size: 20px;
      margin-right: 4px;
      color: lightgray;
    }
    &:focus { background: #eee; }
  }
  &.open {
    max-height: 100vh;
    @include mq(med) {
      max-height: 60vh;
    }
  }
  .rd-search-item-selected {
    background-color: $clr-grey-100;
    a { color: black; }
  }
}
.rd-popular-links-container {
  width: 100%;
  margin: 0 1rem 1rem 0.25rem;
}
.rd-popular-links {
  h2 {
    font-family: $font-family-heading;
    font-size: 1.125rem;
    color: $clr-grey-900;
    margin: 0 0 .25rem;
  }
  ul {
    margin: 0 0 0 1.25rem;
    padding: 0;
  }
  li > a {
    position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: .25rem 0;
      font-size: 1rem;
      color: $clr-text;
      font-weight: $font-weight-regular;
      transition: color 200ms ease-out;
      &.rd-my-location svg {
        position: absolute;
        left: -1.25rem;
        height: 1rem;
      }
      span:last-child { font-size: 11px; }
      &:hover { color: $clr-grey-900; }
  }
}
.rd-dialog-backdrop { background-color: $clr-backdrop; }

// Results: List view
// -------------------------------------------------------------------------
.rd-results-container {
  position: relative;
  @include mq(med) {
    padding:  $container-padding;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 16px;
  }
  @include mq(large) { grid-template-columns: repeat(3, 1fr);}
  @include mq(xlarge) { grid-template-columns: repeat(4, 1fr);}
  .rd-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background: #fff;
    @include mq(med) {
      padding: 8px 12px 12px;
      border-radius: 10px;
      @include mat.elevation(5);
      &:hover h2 { color: black !important; }
      img { vertical-align: baseline; }
    }
    .rd-restaurant-detail {
      position: relative;
      padding: 12px 16px 10px;
      @include mq(med) {
        padding: 8px 0;
        p { margin: 4px 0 12px; }
      }
      h2 {
        font: $font-weight-heavy 24px/26px $font-family-heading;
        margin: 0;
        display: flex;
        width: 100%;
        transition: color 300ms ease-out;
      }
      h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        margin: 0;
        padding: 8px 0;
        .rd-cuisine-location {
          line-height: 1.2;
          > em {
            font-style: normal;
          }
        }
        .rd-distance {
          text-transform: lowercase;
          white-space: nowrap;
        }
        .mat-icon {
          font-size: 12px;
          height: 12px;
          width: 12px;
        }
      }
      p {
        font-size: 16px;
        font-weight: $font-weight-lite;
        line-height: 20px;
        margin: 0 0 12px;
        padding: 0;
      }
    }
    .rd-restaurant-img {
      position: relative;
      background-color: #eee;
      &:after {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: auto;
        background-image: linear-gradient(135deg, white 33%, gray 34%, transparent 44%),
        linear-gradient(45deg, transparent 66%, white 67%);
        background-position: -5px 0;
        background-size: 10px 100%;
        background-repeat: repeat-x;
      }
    }
    img {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }
    .img-credit {
      position: absolute;
      right: 8px; bottom: 8px;
      display: block;
      background-color: rgba(0,0,0,.5);
      color: white;
      font-size: 10px;
      line-height: 1;
      text-transform: uppercase;
      padding: 4px;
      border-radius: 2px;
    }
  }
}
.rd-load-more {
  position: relative;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  margin: 0 auto;
  @include mq(med) { padding-top: 0; }
  .rd-btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(#fff, 0.5);
    color:#222;
    font-size: 18px;
    transition: 300ms all ease-out;
    &:hover {
      color: #000;
      background-color: rgba(#fff, .9);
    }
  }
}

// Results: Map view
// -------------------------------------------------------------------------
.rd-component {
  position: relative;
  background-color: white;
  border-radius: 0;
  padding: 0;

  @include mq(medium) {
    @include mat.elevation(5);
  }

  &.list {
    order: 2;
  }
  &.map {
    order: 1;
  }
  @include mq(large) {
    &.list {
      order: 1;
      padding: $container-padding;
      border-radius: 10px;
    }
    &.map {
      order: 2;
      padding: $container-padding;
      border-radius: 10px;
    }
  }
}
.rd-map-list {
  height: calc(100vh - #{$layout-header-height} - 6 * #{$container-padding});
  overflow-y: auto;
  color: #666;
  .rd-map-list-item {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 6px;
    transition: all .25s ease-in-out;
    cursor: pointer;
    &:hover { background-color: #eee; }
    &.active {
      background-color: #eee;
      color: #000;
    }
    > div {
      position: relative;
      flex: 1 auto;
      padding: 6px 8px;
      overflow: hidden;
      &.rd-map-list-img {
        position: relative;
        padding: 0;
        margin: 0;
      }

    }
    img {
      width: 150px;
      height: 100px;
      object-fit: cover;
    }
    h3 {
      font-size: 1.125rem;
      font-weight: $font-weight-heavy;
      margin: 0;
      line-height: 1.25;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    p {
      margin: 0 0 .5rem;
      line-height: 1.25;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    span {
      font-size: .75rem;
      line-height: 1;
      text-transform: uppercase;
    }
    svg {
      margin-left:4px;
    }
    .rd-member-offer {
      position: absolute;
      z-index: 10;
      width: 150px;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      background-color: $clr-offers;
      padding: 10px 4px;
      // border-radius: 4px;
      color: white;
      font-size: 0.75rem;
    }
  }

  @include mq(med) {
    height: calc(100vh - #{$layout-header-height} - 6 * #{$container-padding});
  }
}
.rd-map-list-item-skeleton {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin-bottom: 6px;
  animation: pulse 2s infinite;
  animation-delay: 0.5s;
  .thumb {
    width: 150px;
    height: 100px;
    background-color: $clr-grey-100;
  }
  .heading,
  .text,
  .text2 {
    display: block;
    margin: 6px 0 0 8px;
    width: 100%;
    height: 1.5rem;
    background-color: $clr-grey-100;
  }
  .text, .text2 {
    width: 40%;
    height: 1rem;
  }
  .text2 { width: 10%; }
}
.rd-map-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  padding-block: 8px;
  padding-inline: 8px 0;
  .rd-map-nav-summary {
    font-weight: $font-weight-heavy;
    font-size: 1.125rem;
    flex: 1 auto;
    align-items: center;
    margin:0;
  }
  @include mq(med) {
    padding: 0;
  }
}
.rd-map-info-window {
  padding: 4px 0 6px 6px;
  max-width: 200px;
  h3 {
    margin: 0 0 0;
    font-size: 1rem;
    line-height: 1;
    font-weight: $font-weight-heavy;
  }
  a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background-color: $clr-offers;
    padding: 1em;
    border-radius: 4px;
    margin-top: 8px;
    font-size: .75rem;
    color: white;
  }
  .distances {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5rem;
    .distance {
      h4 {
        font-size: .625rem;
        margin: 0;
        line-height: 1.1;
      }
      span {
        font-size: .875rem;
        font-weight: $font-weight-regular;
      }
    }

  }
  .offer-panel {
    background-color: rgba($clr-offers, .1);
    border-radius: 4px;
    margin-top: .5rem;
    h4 {
      line-height: 1.1;
      color: $clr-offers;
      margin: 0 0 .25rem;
      font-size: .75rem;
      font-weight: $font-weight-heavy;
      text-transform: uppercase;
      &:before {
        content: '★';
        margin-right: .25rem;
      }
    }
  }
}
.rd-map-container {
  width: 100%;
  height: calc(100% - 48px);
  transition: opacity .3s ease-out;
  border-radius: 8px;
}
.rd-map {
  position: relative;
  padding:  0;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 0;
  @include mq(large) {
    grid-template-columns: 38% 1fr;
    padding:  16px 12px 12px;
    grid-row-gap: 16px;
  }
}
.rd-promo-tag {
  &:after {
    content:'';
    border: 22px solid $clr-cta;
    border-bottom-color:transparent;
    border-left-color:transparent;
    width:0; height:0;
    display:block;
    position:absolute;
    top:0;
    right:0;
  }
  &:before {
    content:'✭';
    font-size: 1rem;
    position:absolute;
    top:3px;
    right:3px;
    line-height:20px;
    display:block;
    width:20px;
    text-align:center;
    z-index:10;
    color: white;
  }
  &.list {
    &:after {
      content:'';
      border: 28px solid white;
      border-top-color:transparent;
      border-left-color:transparent;
      width:0; height:0;
      display:block;
      position:absolute;
      top: auto;
      bottom:0;
      right:0;
    }
    &:before {
      content:'★';
      font-size: 1.8rem;
      position:absolute;
      top: auto;
      bottom:6px;
      right:6px;
      line-height:20px;
      display:block;
      width:20px;
      text-align:center;
      z-index:10;
      color: $clr-cta;
    }
  }
}

// Cuisine Filters
// -------------------------------------------------------------------------
.rd-filter-btn-wrapper {
  z-index: 20;
  position: fixed;
  bottom: 24px; left: auto; right: auto;
  transform: scale(0);
  width: 100%;
  text-align: center;
  @include mq(med){
    width: auto;
    bottom: 64px; left: auto; right: 96px;
  }
}
.rd-filter-btn {
  margin: 0;
  padding: 1.25rem 1rem !important;
  border-radius: 32px !important;
  text-transform: uppercase;
  font-weight: $font-weight-regular;
  background: $clr-cta !important;
  color: white !important;
  @include mat.elevation(10);
  &.rd-btn-clear { background-color: #000 !important; }
}
.rd-filter-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(med) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.rd-filter-dialog {
  width: 100vw;
  @include mq(med) { width: clamp(38vw, 62vw, 480px)}
  .mat-mdc-dialog-container {
    position: relative;
    width: 100%;
    border-radius: 12px;
  }
}
.rd-dialog-close {
  position: absolute !important;
  top: 0; right: 0;
  z-index: 100;
  color: gray;
}
.rd-filter-list {
  position: relative;
  margin-bottom: 24px;
  @include mq(med) {
    margin-bottom: 0;
    width: 100%;
  }
  h1 {
    margin: 0 0 8px;
    padding: 0;
    font: $font-weight-heavy 14px/16px $font-family-default;
  }
  li {
    @include mq(med){width: 90%;}
    > a {
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      font-size: 16px;
      padding: 8px 0 8px 0;
      font-weight: $font-weight-lite;
      .rd-count {
        font-weight: $font-weight-heavy;
        font-size: 14px;
      }
      .mat-icon {
        color: lightgray;
        height: 14px;
        width: 14px;
        font-size: 14px;
        margin-right: 2px;
      }
    }
  }
}

// Animations
// -------------------------------------------------
.scale-in-center { animation: scale-in-center 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; }
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: #6e6e6e;
  }
  100% {
    background-color: #eee;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  to { transform: scale(1) rotateZ(60deg); }
}

/**
* MATERIAL COMPONENT OVERRIDES
* -------------------------------------------------------
*/
// checkbox bgd color
.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  background-color: $clr-accent !important;
  border-color: $clr-accent !important;
}
.mdc-line-ripple::before,
.mdc-line-ripple::after {
  border-bottom-color: $clr-accent !important;
}
.mdc-dialog__content {
  max-height: 85vh !important;
  padding: 0 !important;
}
.mdc-dialog__surface {
  border-radius: 0 !important;
  padding: 1rem;
  @include mq(med) {
    border-radius: 12px !important;
  }
}



