@use "sass:map";
@import '../../../../node_modules/@angular/material/theming';
@include mat-core();

// Custom theme
$rc-whitelabel-app-primary: mat-palette($mat-deep-orange, A200);
$rc-whitelabel-app-accent: mat-palette($mat-orange, A200, A100, A400);
// The warn palette is optional (defaults to red).
$rc-whitelabel-app-warn: mat-palette($mat-deep-orange);
// Create the theme object
$rc-whitelabel-app-theme: mat-light-theme((
  color: (
    primary: $rc-whitelabel-app-primary,
    accent: $rc-whitelabel-app-accent,
    warn: $rc-whitelabel-app-warn,
  )
));
@include angular-material-theme($rc-whitelabel-app-theme);

// Default branding
$col-text: rgb(74, 74, 74);
$col-page-bgd: #cdcdcd;
$col-timer-outer: #454540;
$col-timer-inner: #bbb;
$col-accent: #ff3d00;
$col-dark: #252525;
$col-icon-cuisine: #2eb871;
$col-icon-restaurant: #23b6e0;
$col-icon-location: #ff3d00;

// For media queries
$breakpoints: (
  small: 42em,
  med: 50em,
  large: 65em,
  xlarge: 95em
);
@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
};

// Fonts
$font-family-default: Roboto, "Helvetica Neue", sans-serif;
$font-family-heading: 'Roboto Slab', 'Georgia', serif;
$font-weight-lite: 300;
$font-weight-regular: 400;
$font-weight-heavy: 500;
$layout-header-height: 80px;
$layout-max-width: 960px;
$loaderSize: 48px;

// Global resets
* { box-sizing: border-box; }
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a { text-decoration: none; }
html, body { height: 100%; }
body {
  height: 100%;
  margin: 0;
  background: $col-page-bgd;
  font-family: $font-family-default;
  color: $col-text;
}
a, a:active, a:focus {
  outline: none;
}
*:focus {
  outline: 0 !important;
}

// UTILS
// ------------------------
.rd-flex-spacer { flex: 1 0 auto; }
.rd-hide { display: none !important; }
.rd-show { opacity: 1 !important;}
.rd-highlight { color: $col-accent}
.rd-invisible { opacity: 0; pointer-events: none; display: none !important;}
.rd-icon-restaurant { color: $col-icon-restaurant !important;}
.rd-icon-cuisine { color: $col-icon-cuisine !important;}
.rd-icon-location,
.rd-icon-my-location {
  color: $col-icon-location !important;
  fill: $col-icon-location
}

// LOAD COMPONENT
// ------------------------
rd-loader {
  .rd-loader-container {
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rd-loader-svg {
    width: $loaderSize;
    height: $loaderSize;
    fill: $col-accent;
    animation: spin .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    //animation-delay: .5s;
  }
  .rd-loader-txt {
    margin-top: 4px;
    font-size: 12px;
    letter-spacing: 1px;
    color: $col-accent;
  }
  // color variations
  &.fill-accent {
    fill: $col-accent;
    .rd-loader-txt { color: $col-accent; }
  }
  &.fill-white {
    @include mq(small) {
      .rd-loader-svg {fill: white;}
      .rd-loader-txt { color: white; }
    }
  }
}

// LAYOUT
// ------------------------
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
  padding-top: $layout-header-height;
  background: #fff;
  @include mq(med) {
    background: #eee;
  }
}
.rd-cover {
  position: fixed;
  top:0; left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  @include mq(med){
    background-image: url("../assets/images/bgd1.jpg");
    background-size: cover;
  }
}
.blur {
  @include mq(med) {
    position: fixed;
    top: 0;
    background: rgba(0,0,0, 0.5); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100%;
    width: 100vw;
  }
}
header {
  width: 100vw;
  z-index: 10;
  position: fixed;
  transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
  background: $col-page-bgd;
  color: $col-text;
  &.rd-hideHeader {
    @include mq(small) {
      transform: translateY(-($layout-header-height - 8));
    }
  }
}
rd-header {
  display: flex;
  align-items: center;
  padding: 12px;
  a {
    display: flex;
    align-items: center;
  }
  .rd-logo { height: 60px;}
  h1 {
    font-size: 16px;
    font-weight: $font-weight-heavy;
    line-height: 1;
    margin: 0;
    text-align: center;
  }
  .mat-button {
    font-weight: $font-weight-regular;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
rd-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  background: $col-dark;
  padding: 12px 0;
  color: white;
  font-size: 10px;
  font-weight: $font-weight-lite;
  .rd-label {
    width: 160px;
    padding: 0;
    margin: 24px 48px;
    line-height: 1.2;
  }
}

// SEARCH
// ------------------------
.rd-search-container {
  position: relative ;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: white;
  transition: min-height 2s ease-out;

  @include mq(med) {
    @include mat-elevation(5);
    position: absolute;
    top: 15vh;
    left: calc(50% - 400px);
    border-radius: 12px;
    width: 800px;
    min-height: 50vh;
    height: auto;
    margin: 0 auto 0;
    &.loaded {
      min-height: 0;
    }
  }
}
.rd-search-autofill {
  display: block;
  height: auto;
  max-height: 0;
  transition:max-height 0.3s ease-out;
  overflow: auto;
  width: 100%;
  margin: -16px 0 0;
  padding: 0;
  li ~ li { border-top: 1px solid #eee; }
  li  > a {
    transition: all .3s ease-out;
    background-color: white;
    outline: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    font-size: 16px;
    font-weight: $font-weight-regular;
    color: black;
    .mat-icon {
      width: 22px;
      height: 22px;
      font-size: 20px;
      margin-right: 4px;
      color: lightgray;
    }
    span.rd-count {
      display: inline-block;
      height: 20px;
      width: 20px;
      line-height: 20px;
      border-radius: 10px;
      text-align: center;
      background-color: $col-icon-cuisine;
      color: white;
      margin-right: 8px;
      font-size: 9px;
    }
    &:hover,
    &:focus { background: #eee; }
  }
  &.open {
    max-height: 400px;
  }
}
.rd-search-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 24px;
  transition: all .3s ease-out;
  h3 {
    font-family: $font-family-heading;
    margin: 0;
    padding: 0;
  }
  .rd-full-width {}
  .mat-form-field {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
  }
  .mat-error {
    margin: -12px 0 24px;
    color: $col-text;
  }
  ul.rd-search-suggestions {
    margin: 0 0 12px;
    width: 100%;
    li > a {
      display: flex;
      align-items: center;
      line-height: 36px;
      margin: 0;
      font-size: 14px;
      font-weight: $font-weight-lite;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: $col-text;
      .mat-icon {
        color: red;
        margin-right: 8px;
      }
    }
  }
}
.rd-quick-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  @include mq(small) {
    flex-direction: row;
    > * { width: 100%; }
  }
}
.rd-quick-links {
  margin-top: 10px;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-family: $font-family-heading;
      font-size: 18px;
    }
    > .mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
      margin-right: 4px;
      color: #666;
    }
  }
  ul {
    margin: 0;
    padding: 0 24px 24px;
    li {
      > a {
        display: flex;
        align-items: center;
        padding: 6px 0;
        font-size: 16px;
        color: #000;
        font-weight: $font-weight-lite;
        opacity: .6;
        transition: opacity 200ms ease-out;
        &.rd-my-location svg { margin: 0 5px 0 -23px; height: 12px;}
        span:last-child { font-size: 11px; }
        &:hover { opacity: 1; }
      }
    }
  }
}

// RESULTS
// ------------------------
.rd-results-container {
  position: relative;
  @include mq(med) {
    padding:  16px 12px 12px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 16px;
  }
  @include mq(large) { grid-template-columns: repeat(3, 1fr);}
  @include mq(xlarge) { grid-template-columns: repeat(4, 1fr);}
  .rd-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background: #fff;
    @include mq(med) {
      padding: 8px 12px 12px;
      border-radius: 10px;
      @include mat-elevation(5);
      &:hover h2 { color: black !important; }
      img { vertical-align: baseline; }
    }
    .rd-restaurant-detail {
      position: relative;
      padding: 12px 16px 10px;
      @include mq(med) {
        padding: 8px 0;
        p { margin: 4px 0 12px; }
      }
      h2 {
        font: $font-weight-heavy 24px/28px $font-family-heading;
        margin: 0;
        display: flex;
        width: 100%;
        transition: color 300ms ease-out;
      }
      h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        margin: 0;
        padding: 8px 0;
        .rd-cuisine-location {
          line-height: 1.2;
          > em {
            font-style: normal;
          }
        }
        .rd-distance {
          text-transform: lowercase;
          white-space: nowrap;
        }
        .mat-icon {
          font-size: 12px;
          height: 12px;
          width: 12px;
        }
      }
      p {
        font-size: 16px;
        font-weight: $font-weight-lite;
        line-height: 20px;
        margin: 0 0 12px;
        padding: 0;
      }
      .mat-chip-list-wrapper { margin: 0; }
      .mat-chip {
        font-size: 10px;
        text-transform: uppercase;
        margin: 0 3px 3px 0;
        padding: 6px;
      }
      .mat-standard-chip {
        min-height: 24px;
        line-height: 13px;
        border-radius: 10px;
      }
    }
    .rd-restaurant-img {
      position: relative;
      background-color: #eee;
      &:after {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: auto;
        background-image: linear-gradient(135deg, white 33%, gray 34%, transparent 44%),
        linear-gradient(45deg, transparent 66%, white 67%);
        background-position: -5px 0;
        background-size: 10px 100%;
        background-repeat: repeat-x;
      }
    }
    img {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }
  }

}
.rd-load-more {
  position: relative;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  margin: 0 auto;
  @include mq(med) { padding-top: 0; }
  .rd-btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(#fff, 0.5);
    color:#222;
    font-size: 18px;
    transition: 300ms all ease-out;
    &:hover {
      color: #000;
      background-color: rgba(#fff, .9);
    }
  }
}

// FILTERS
// ------------------------
.rd-filter-btn {
  z-index: 20;
  position: fixed;
  bottom: 0; right: 0;
  transform: scale(0);
  width: 100%;
  text-align: center;
  @include mq(med){
    width: auto;
  }
  .mat-raised-button {
    margin: 0 48px 48px;
    padding: 8px 20px;
    border-radius: 32px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    background: black;
    color: white;
    @include mat-elevation(10);
    &.rd-btn-clear { background-color: #ff2600; }
  }
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }
  .mat-icon { margin-left: 8px; }
}
.rd-filter-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(med) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.rd-filter-dialog {
  @include mq(med) { min-width: 480px;}
  .mat-dialog-container {
    position: relative;
    width: 100%;
    border-radius: 12px;
  }
  .rd-dialog-close {
    position: absolute !important;
    top: 4px; right: 4px;
    z-index: 100;
    color: gray;
  }
}
.rd-filter-list {
  position: relative;
  margin-bottom: 24px;
  @include mq(med) {
    margin-bottom: 0;
    width: 100%;
  }
  h1 {
    margin: 0 0 8px;
    padding: 0;
    font: $font-weight-heavy 14px/16px $font-family-default;
  }
  li {
    @include mq(med){width: 90%;}
    > a {
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      font-size: 16px;
      padding: 8px 0 8px 0;
      font-weight: $font-weight-lite;
      .rd-count {
        font-weight: $font-weight-heavy;
        font-size: 14px;
      }
      .mat-icon {
        color: lightgray;
        height: 14px;
        width: 14px;
        font-size: 14px;
        margin-right: 2px;
      }
    }
  }
}

// ANIMATIONS
// ------------------------
.scale-in-center {
  animation: scale-in-center 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  to { transform: scale(1) rotateZ(60deg); }
}
