// Having to use a relative ref. for scss @use @angular as linting doesn't like
// the recommended '@angular' ref
@use 'node_modules/@angular/material' as mat;
@use 'sass:map';

@include mat.core();

// Custom theme
$rc-whitelabel-app-primary: mat.define-palette(mat.$deep-orange-palette, A200);
$rc-whitelabel-app-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rc-whitelabel-app-warn: mat.define-palette(mat.$deep-orange-palette);

// Create the theme object
$rc-whitelabel-app-theme: mat.define-light-theme((
  color: (
    primary: $rc-whitelabel-app-primary,
    accent: $rc-whitelabel-app-accent,
    warn: $rc-whitelabel-app-warn,
  )
));

@include mat.all-component-themes($rc-whitelabel-app-theme);

// Default branding
$col-text:            var(--clr-text-default);
$col-accent:          var(--clr-accent);
$col-dark:            var(--clr-bgd-default);
$col-icon-cuisine:    var(--clr-icon-cuisine);
$col-icon-restaurant: var(--clr-icon-restaurant);
$col-icon-location:   var(--clr-icon-location);
$clr-offers:          var(--clr-primary-cta);
$clr-cta-primary:     var(--clr-primary-cta);
$clr-grey-100:        var(--clr-grey-100);

// For media queries
$breakpoints: (
  small: 42em,
  med: 50em,
  large: 65em,
  xlarge: 95em
);
@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
};

// Fonts
$font-family-default: 'Roboto', sans-serif;
$font-family-heading: 'Roboto Slab', 'Georgia', serif;
$font-weight-lite: 300;
$font-weight-regular: 400;
$font-weight-heavy: 500;
$layout-header-height: 64px;
$layout-max-width: 960px;
$loaderSize: 48px;

// Global resets
* { box-sizing: border-box; }
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a { text-decoration: none; }
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  margin: 0;
  background: $col-dark;
  font-family: $font-family-default;
  color: $col-text;
}
a, a:active, a:focus {
  outline: none;
}
*:focus {
  outline: 0 !important;
}
::selection {
  background-color: black;
  color: white;
}

// UTILS
// ------------------------
.rd-flex {
  display: flex;
  align-items: center;
  padding: 0;
}
.rd-flex-spacer { flex: 1 0 auto; text-align: center;}
.rd-hide { display: none !important; }
.rd-show { opacity: 1 !important;}
.rd-highlight { color: $col-accent; }
.rd-invisible { opacity: 0; pointer-events: none; display: none !important;}
.rd-icon-restaurant { color: $col-icon-restaurant !important;}
.rd-icon-cuisine { color: $col-icon-cuisine !important;}
.rd-icon-location,
.rd-icon-my-location {
  color: $col-icon-location !important;
  fill: $col-icon-location
}
.rd-fill-accent {
  fill: $col-accent;
}
.rd-separator:after {
  display: inline-block;
  content: '|';
  font-size: 1rem;
  color: #bbb;
  margin-inline: .25rem 0.1rem;
}

// LOAD COMPONENT
// ------------------------
rd-loader {
  .rd-loader-container {
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rd-loader-svg {
    width: $loaderSize;
    height: $loaderSize;
    fill: $col-accent;
    animation: spin .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    //animation-delay: .5s;
  }
  .rd-loader-txt {
    margin-top: 4px;
    font-size: 12px;
    letter-spacing: 1px;
    color: $col-accent;
  }
  // color variations
  &.fill-accent {
    fill: $col-accent;
    .rd-loader-txt { color: $col-accent; }
  }
  &.fill-white {
    @include mq(small) {
      .rd-loader-svg {fill: white;}
      .rd-loader-txt { color: white; }
    }
  }
}

// LAYOUT
// ------------------------


header {
  width: 100vw;
  z-index: 10;
  position: fixed;
  transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
  background: var(--clr-header-bgd);
  box-shadow: 0 2px 4px 0 #00000026;
  color: var(--clr-header-fgd);
  &.rd-hideHeader {
    @include mq(small) {
      transform: translateY(-($layout-header-height - 8));
    }
  }
  a {
    cursor: pointer;
  }
}
rd-header {
  display: flex;
  align-items: center;
  padding: 16px;
  column-gap: 8px;
  a {
    display: flex;
    align-items: center;
  }
  .rd-title {
    position: absolute;
    right: 12px;
    width: 100vw;
    text-align: right;
    font-size: 11px;
    font-weight: $font-weight-lite;
    letter-spacing: 1px;
    @include mq(med) {
      //text-align: center;
      font-size: 14px;
    }
  }
  .rd-logo { height: 32px; }
  h1 {
    font-size: 16px;
    font-weight: $font-weight-heavy;
    line-height: 1;
    margin: 0;
    text-align: center;
  }
  .hide-small {
    display: none;
    @include mq(small) {
      display: inline-block;
    }
  }

  .mat-button {
    font-weight: $font-weight-regular;
    font-size: 14px;
    letter-spacing: 1px;
  }
  @include mq(med) {
    .rd-logo { height: $layout-header-height;}
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  background: #fff;
  padding-top: $layout-header-height;
  @include mq(med) {
    background: #eee;
    padding-top: $layout-header-height + 28px;
  }
}
.rd-cover {
  display: none;
  @include mq(med){
    display: block;
    position: fixed;
    top:0; left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-image: var(--img-bgd);
    background-size: cover;
    background-color: rgba(0,0,0, 0.5); // Make sure this color has an opacity of less than 1
    filter: blur(8px); // This be the blur
    scale: 1.1; // to remove blur border.
  }
}
.blur {
  @include mq(med) {
    position: fixed;
    top: 0;
    background: rgba(0,0,0, 0.5); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
  }
}
rd-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background-color: inherit;
  padding: 0 0;
  color: white;
  font-size: 10px;
  font-weight: $font-weight-lite;
  .rd-label {
    width: 160px;
    padding: 0;
    margin: 16px;
    line-height: 1.2;
  }
}

// SEARCH
// ------------------------
.rd-search-container {
  position: relative ;
  z-index: 0;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: white;
  transition: min-height 1s ease-out;

  @include mq(med) {
    @include mat.elevation(5);
    position: absolute;
    z-index: 5;
    top: 15vh;
    left: calc(50% - 400px);
    border-radius: 12px;
    width: 800px;
    min-height: 50vh;
    height: auto;
    margin: 0 auto 0;
    &.loaded {
      min-height: 0;
    }
  }
}
.rd-search-autofill {
  display: block;
  height: auto;
  max-height: 0;
  transition:max-height 0.3s ease-out;
  overflow: auto;
  width: 100%;
  margin: -16px 0 0;
  padding: 0;
  li ~ li { border-top: 1px solid #eee; }
  li  > a {
    transition: all .3s ease-out;
    background-color: white;
    outline: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    font-size: 16px;
    font-weight: $font-weight-regular;
    color: black;
    .mat-icon {
      width: 22px;
      height: 22px;
      font-size: 20px;
      margin-right: 4px;
      color: lightgray;
    }
    span.rd-count {
      display: inline-block;
      height: 20px;
      width: 20px;
      line-height: 20px;
      border-radius: 10px;
      text-align: center;
      background-color: $col-icon-cuisine;
      color: white;
      margin-right: 8px;
      font-size: 9px;
    }
    &:hover,
    &:focus { background: #eee; }
  }
  &.open {
    max-height: 400px;
  }
}
.rd-search-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 24px;
  transition: all .3s ease-out;
  h3 {
    font-family: $font-family-heading;
    margin: 0;
    padding: 0;
  }
  .rd-full-width {}
  form mat-label {
    display: flex;
    .mat-icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
      margin-right: 4px;
    }
  }
  .mat-form-field {
    margin-top: 4px;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
  }
  .mat-error {
    margin: -12px 0 24px;
    color: $col-text;
  }
  ul.rd-search-suggestions {
    margin: 0 0 12px;
    width: 100%;
    li > a {
      display: flex;
      align-items: center;
      line-height: 36px;
      margin: 0;
      font-size: 14px;
      font-weight: $font-weight-lite;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: $col-text;
      .mat-icon {
        color: red;
        margin-right: 8px;
      }
    }
  }
}
.rd-quick-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  @include mq(small) {
    flex-direction: row;
    > * { width: 100%; }
  }
}
.rd-quick-links {
  margin-top: 10px;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-family: $font-family-heading;
      font-size: 18px;
    }
    > .mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
      margin-right: 4px;
      color: #666;
    }
  }
  ul {
    margin: 0;
    padding: 0 24px 24px;
    li {
      > a {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 6px 0;
        font-size: 16px;
        color: #000;
        font-weight: $font-weight-lite;
        opacity: .6;
        transition: opacity 200ms ease-out;
        &.rd-my-location svg { margin: 0 5px 0 -23px; height: 12px;}
        span:last-child { font-size: 11px; }
        &:hover { opacity: 1; }
      }
    }
  }
}

// RESULTS
// ------------------------
.rd-results-container {
  position: relative;
  @include mq(med) {
    padding:  16px 12px 12px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 16px;
  }
  @include mq(large) { grid-template-columns: repeat(3, 1fr);}
  @include mq(xlarge) { grid-template-columns: repeat(4, 1fr);}
  .rd-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background: #fff;
    @include mq(med) {
      padding: 8px 12px 12px;
      border-radius: 10px;
      @include mat.elevation(5);
      &:hover h2 { color: black !important; }
      img { vertical-align: baseline; }
    }
    .rd-restaurant-detail {
      position: relative;
      padding: 12px 16px 10px;
      @include mq(med) {
        padding: 8px 0;
        p { margin: 4px 0 12px; }
      }
      h2 {
        font: $font-weight-heavy 24px/26px $font-family-heading;
        margin: 0;
        display: flex;
        width: 100%;
        transition: color 300ms ease-out;
      }
      h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        margin: 0;
        padding: 8px 0;
        .rd-cuisine-location {
          line-height: 1.2;
          > em {
            font-style: normal;
          }
        }
        .rd-distance {
          text-transform: lowercase;
          white-space: nowrap;
        }
        .mat-icon {
          font-size: 12px;
          height: 12px;
          width: 12px;
        }
      }
      p {
        font-size: 16px;
        font-weight: $font-weight-lite;
        line-height: 20px;
        margin: 0 0 12px;
        padding: 0;
      }
      .mat-chip-list-wrapper { margin: 0; }
      .mat-chip {
        font-size: 10px;
        text-transform: uppercase;
        margin: 0 3px 3px 0;
        padding: 6px;
      }
      .mat-standard-chip {
        min-height: 24px;
        line-height: 13px;
        border-radius: 10px;
      }
    }
    .rd-restaurant-img {
      position: relative;
      background-color: #eee;
      &:after {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: auto;
        background-image: linear-gradient(135deg, white 33%, gray 34%, transparent 44%),
        linear-gradient(45deg, transparent 66%, white 67%);
        background-position: -5px 0;
        background-size: 10px 100%;
        background-repeat: repeat-x;
      }
    }
    img {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }
    .img-credit {
      position: absolute;
      right: 8px; bottom: 8px;
      display: block;
      background-color: rgba(0,0,0,.5);
      color: white;
      font-size: 10px;
      line-height: 1;
      text-transform: uppercase;
      padding: 4px;
      border-radius: 2px;
    }
  }

}
.rd-load-more {
  position: relative;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  margin: 0 auto;
  @include mq(med) { padding-top: 0; }
  .rd-btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(#fff, 0.5);
    color:#222;
    font-size: 18px;
    transition: 300ms all ease-out;
    &:hover {
      color: #000;
      background-color: rgba(#fff, .9);
    }
  }
}

// MAP RESULTS
.rd-component {
  position: relative;
  background-color: white;
  border-radius: 0;
  padding: 0;
  @include mq(medium) {
    @include mat.elevation(5);
  }

  &.list {
    order: 2;
  }
  &.map {
    order: 1;
  }
  @include mq(large) {
    &.list {
      order: 1;
      padding: 12px;
      border-radius: 10px;
    }
    &.map {
      order: 2;
      padding: 12px;
      border-radius: 10px;
    }
  }
}
.rd-map-list {
  height: calc(100vh - (2 * #{$layout-header-height}));
  overflow-y: auto;
  color: #666;
  .rd-map-list-item {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 6px;
    transition: all .25s ease-in-out;
    cursor: pointer;
    &:hover { background-color: #eee; }
    &.active {
      background-color: #eee;
      color: #000;
    }
    > div {
      position: relative;
      flex: 1 auto;
      padding: 6px 8px;
      overflow: hidden;

    }
    img {
      width: 150px;
      height: 100px;
      object-fit: cover;
    }
    h3 {
      font-size: 1.125rem;
      font-weight: $font-weight-heavy;
      margin: 0;
      line-height: 1.25;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    p {
      margin: 0 0 .5rem;
      line-height: 1.25;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    span {
      font-size: .75rem;
      line-height: 1;
      text-transform: uppercase
    }
    svg {
      margin-left:4px;
    }
    .rd-member-offer {
      position: absolute;
      z-index: 10;
      width: 150px;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      background-color: rgba($clr-offers, .75);
      padding: 10px 4px;
      // border-radius: 4px;
      color: white;
      font-size: 0.75rem;
    }

  }

  @include mq(med) {
    height: 80vh;
  }
}


.rd-map-list-item-skeleton {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin-bottom: 6px;
  animation: pulse 2s infinite;
  animation-delay: 0.5s;
  .thumb {
    width: 150px;
    height: 100px;
    background-color: $clr-grey-100;
  }
  .heading,
  .text,
  .text2 {
    display: block;
    margin: 6px 0 0 8px;
    width: 100%;
    height: 1.5rem;
    background-color: $clr-grey-100;
  }
  .text, .text2 {
    width: 40%;
    height: 1rem;
  }
  .text2 { width: 10%; }
}
@keyframes pulse {

  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.rd-map-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  padding-block: 12px;
  padding-inline: 8px 0;
  margin-bottom: 6px;
  border-bottom: 1px solid $col-accent;
  .rd-map-nav-summary {
    flex: 1 auto;
    align-items: center;
    margin-right: 1rem;
  }
}
.rd-map-info-window {
  padding: 4px 0 6px 6px;
  h3 {
    margin: 0 0 0;
    font-size: 1rem;
    line-height: 1;
    font-weight: $font-weight-heavy;
  }
  a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background-color: $clr-offers;
    padding: 1em;
    border-radius: 4px;
    margin-top: 8px;
    font-size: .75rem;
    color: white;
  }
  .distances {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5rem;
    .distance {
      h4 {
        font-size: .625rem;
        margin: 0;
        line-height: 1.1;
      }
      span {
        font-size: .875rem;
        font-weight: $font-weight-regular;
      }
    }

  }
  .offer-panel {
    background-color: rgba($clr-offers, .1);
    color: $clr-offers;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    h4 {
      line-height: 1.1;
      color: $clr-offers;
      margin-block: 0;
      font-size: .75rem;
      font-weight: $font-weight-heavy;
      text-transform: uppercase;
    }
  }
}
.rd-map {
  position: relative;
  padding:  0;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 0;
  width: 100%;
  height: inherit;
  @include mq(large) {
    grid-template-columns: 38% 1fr;
    padding:  16px 12px 12px;
    grid-row-gap: 16px;
  }
}

// FILTERS
// ------------------------
.rd-filter-btn {
  z-index: 20;
  position: fixed;
  bottom: 0; right: 0;
  transform: scale(0);
  width: 100%;
  text-align: center;
  @include mq(med){
    width: auto;
  }
  .mat-raised-button {
    margin: 0 48px 48px;
    padding: 8px 20px;
    border-radius: 32px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    background: black;
    color: white;
    @include mat.elevation(10);
    &.rd-btn-clear { background-color: #ff2600; }
  }
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }
  .mat-icon { margin-left: 8px; }
}
.rd-filter-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(med) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.rd-filter-dialog {
  @include mq(med) { min-width: 480px;}
  .mat-dialog-container {
    position: relative;
    width: 100%;
    border-radius: 12px;
  }
  .rd-dialog-close {
    position: absolute !important;
    top: 4px; right: 4px;
    z-index: 100;
    color: gray;
  }
}
.rd-filter-list {
  position: relative;
  margin-bottom: 24px;
  @include mq(med) {
    margin-bottom: 0;
    width: 100%;
  }
  h1 {
    margin: 0 0 8px;
    padding: 0;
    font: $font-weight-heavy 14px/16px $font-family-default;
  }
  li {
    @include mq(med){width: 90%;}
    > a {
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      font-size: 16px;
      padding: 8px 0 8px 0;
      font-weight: $font-weight-lite;
      .rd-count {
        font-weight: $font-weight-heavy;
        font-size: 14px;
      }
      .mat-icon {
        color: lightgray;
        height: 14px;
        width: 14px;
        font-size: 14px;
        margin-right: 2px;
      }
    }
  }
}

// ANIMATIONS
// ------------------------
.scale-in-center {
  animation: scale-in-center 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes skeleton-loading {
  0% {
    background-color: #eee;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  to { transform: scale(1) rotateZ(60deg); }
}
