<h1 mat-dialog-title>{{ config.i18n["Sort_filter"] }} </h1>
<div mat-dialog-content>
  <div class="rd-filter-list-container">
    <!-- Cuisine filters -->
    <section class="rd-filter-list" *ngIf="data['cuisines'].length > 1">
      <h1>{{ config.i18n["Filter_by_cuisine"] }}</h1>
      <ul>
        <li *ngFor="let cuisine of data['cuisines']">
          <a [mat-dialog-close]="{type: 'filter', value: cuisine.Cuisine}">
            <mat-icon class="rd-icon-cuisine">restaurant</mat-icon>
            {{ cuisine.Cuisine }}
            <span class="rd-flex-spacer"></span>
            <span class="rd-count">{{ cuisine.Count }}</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- Landmarks -->
    <section class="rd-filter-list" *ngIf="data?.landmarks.length || !!data?.userPosition.inRange">
      <h1>{{ config.i18n["Sort_by_location"] }}</h1>
      <ul>
        <li *ngIf="data?.userPosition.inRange">
          <a
            [mat-dialog-close]="{ type: 'sort', lat: data?.userPosition?.lat, lng:
            data?.userPosition?.lng}">
            <mat-icon class="rd-icon-my-location">my_location</mat-icon>
            {{ config.i18n["My_current_location"] }}
            <span class="rd-flex-spacer"></span>
            <span class="rd-count"></span>
          </a>
        </li>
        <li *ngFor="let landmark of data.landmarks">
          <a
            [mat-dialog-close]="{
              type: 'sort',
              lat: landmark?.channel_landmark_lat,
              lng: landmark?.channel_landmark_lng,
              location: landmark.channel_landmark_name
              }">
            <mat-icon class="rd-icon-location">location_on</mat-icon>
            {{ landmark["channel_landmark_name"] }}
            <span class="rd-flex-spacer"></span>
            <span class="rd-count"></span>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>

<button mat-icon-button class="rd-dialog-close" mat-dialog-close="true"
        tabindex="-1"><mat-icon>close</mat-icon></button>
