
<div mat-dialog-content>
  <section class="rd-filter-list" *ngIf="data.cuisines.length > 1">
    <h1>Filter by Cuisine</h1>
    <ul>
      <li *ngFor="let cuisine of data.cuisines">
        <a [mat-dialog-close]="{type: 'filter', value: cuisine.label}">
          <mat-icon>restaurant</mat-icon>
          {{ cuisine.label }}
          <span class="rd-flex-spacer"></span>
          <span class="rd-count">{{ cuisine.total }}</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="rd-filter-list" *ngIf="data.landmarks.length">
    <h1>Sort by Location</h1>
    <ul>
      <li *ngFor="let landmark of data.landmarks">
        <a
          [mat-dialog-close]="{type: 'sort', lat: landmark?.channel_landmark_lat, lng: landmark?.channel_landmark_lng}">
          <mat-icon>location_on</mat-icon>
          {{ landmark.channel_landmark_name }}
          <span class="rd-flex-spacer"></span>
          <span class="rd-count"></span>
        </a>
      </li>
    </ul>
  </section>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="null">CLOSE</button>
</div>




