<h1 mat-dialog-title>Filter & Sort</h1>
<div mat-dialog-content>
  <div class="rd-filter-list-container">
  <section class="rd-filter-list" *ngIf="data.cuisines.length > 1">
    <h1>{{ config.i18n.Filter_by_cuisine }}</h1>
    <ul>
      <li *ngFor="let cuisine of data.cuisines">
        <a [mat-dialog-close]="{type: 'filter', value: cuisine.label}">
          <mat-icon>restaurant</mat-icon>
          {{ cuisine.label }}
          <span class="rd-flex-spacer"></span>
          <span class="rd-count">{{ cuisine.total }}</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="rd-filter-list" *ngIf="data.landmarks.length || !!data.coords">
    <h1>{{ config.i18n.Sort_by_location }}</h1>
    <ul>
      <li>
        <a
          [mat-dialog-close]="{type: 'sort', lat: data?.coords.latitude, lng: data?.coords.longitude}">
          <mat-icon>my_location</mat-icon>
          {{ config.i18n.My_current_location }}
          <span class="rd-flex-spacer"></span>
          <span class="rd-count"></span>
        </a>
      </li>
      <li *ngFor="let landmark of data.landmarks">
        <a
          [mat-dialog-close]="{type: 'sort', lat: landmark?.channel_landmark_lat, lng: landmark?.channel_landmark_lng}">
          <mat-icon>location_on</mat-icon>
          {{ landmark.channel_landmark_name }}
          <span class="rd-flex-spacer"></span>
          <span class="rd-count"></span>
        </a>
      </li>
    </ul>
  </section>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="null">{{ config.i18n.Close }}</button>
</div>




