<rd-loader
  class="fill-white"
  [class.rd-hide]="resultsLoaded$ | async"
  [loadText]="'Loading restaurants'">
</rd-loader>

<!-- Restaurants -->
<div class="rd-results-container" [@fadeInStagger]="restaurants$ | async" *ngIf="resultsLoaded$ | async">
  <div
    *ngFor="let restaurant of restaurants$ | async"
    class="rd-restaurant"
    (click)="openSpw(restaurant)">
    <div class="rd-restaurant-detail">
      <h2>{{ restaurant?.restaurant_name }}</h2>
      <h3>
        <span class="rd-cuisine-location">
          <em [class.rd-highlight]="true">{{ restaurant?.restaurant_cuisine_1 | uppercase }}</em>
          <span class="rd-separator"></span>
          {{ restaurant?.restaurant_address_2 | uppercase }}
        </span>
        <span class="rd-flex-spacer"></span>
        <ng-container *ngIf="restaurant?.distance">
          <mat-icon class="rd-icon-my-location">my_location</mat-icon>&nbsp;
          <span *ngIf="restaurant?.distance <= 0.5" class="rd-distance">
            {{ restaurant?.distance * 1000 | number: '1.0-0' }} m
          </span>
          <span *ngIf="restaurant?.distance > 0.5" class="rd-distance">
            {{ restaurant?.distance | number: '1.0-1' }} Km
          </span>
        </ng-container>
      </h3>
      <p>{{ restaurant?.one_sentence }}</p>
      <span class="rd-flex-spacer"></span>
      <mat-chip-list>
        <mat-chip
          *ngFor="let feature of restaurant['attributes']">
          {{ feature }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="rd-restaurant-img">
      <img [src]="getFormattedImage(restaurant.image)" loading="lazy" [alt]="restaurant?.restaurant_name">
      <span class="img-credit">LIBRARY IMAGE</span>
    </div>
  </div>
</div>
<div class="rd-load-more" *ngIf="moreRestaurantsPreloaded | async" @fadeInSlideUp>
  <div class="rd-btn-more" (click)="loadMore()"><span>{{ config.i18n['Load_more'] }}</span></div>
</div>

