
<rd-loader
  class="fill-white"
  [class.rd-hide]="resultsLoaded$ | async"
  [loadText]="'Loading restaurants'">
</rd-loader>

<div class="rd-map">
  <div class="rd-component list">



    <ul class="rd-map-list" [@fadeInStaggerIn]="restaurantBatch$ | async">
      <ng-container *ngIf="!(resultsLoaded$ | async)">
        <div class="rd-map-list-item-skeleton" *ngFor="let n of resultReference">
          <div class="thumb"></div>
          <div>
            <span class="heading"></span>
            <span class="text"></span>
            <span class="text2"></span>
          </div>
        </div>
      </ng-container>


      <ng-container *ngIf="resultsLoaded$ | async">

      <li class="rd-map-list-item"
          *ngFor="let restaurant of restaurantBatch$ | async; let i = index"
          (click)="listClick(i)">
        <span *ngIf="restaurant?.offers.length" class="rd-member-offer">MEMBER OFFER</span>
        <img [src]="restaurant?.image" loading="lazy" alt="Image of {{ restaurant?.restaurant_name }}">
        <div>

          <h3>{{ i + currentOffset + 1 }}. {{ restaurant.restaurant_name }}</h3>
          <p>{{ restaurant?.restaurant_address_1 }}, {{ restaurant?.restaurant_address_2 }} {{ restaurant?.restaurant_post_code }}</p>
          <div class="rd-flex">
            <span class="rd-highlight">{{ restaurant?.restaurant_cuisine_1 }}</span>
            <span class="rd-flex-spacer"></span>
          </div>
        </div>
      </li>

      </ng-container>
    </ul>

  </div>

  <div class="rd-component map">

    <div class="rd-map-nav">
      <span class="rd-map-nav-summary">{{ getBatchNavSummary() }}</span>
      <span class="rd-map-nav-count">{{ getBatchNavCount() }}</span>

      <button [disabled]="currentOffset === 0"
              mat-icon-button
              (click)="prevBatch()"
              title="Previous {{ currentOffset }} restaurants">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <button [disabled]="currentOffset + batchTotal > totalRestaurants  || !(resultsLoaded$ | async)"
              mat-icon-button
              (click)="nextBatch()"
              title="Next {{ batchTotal }} restaurants">
        <mat-icon>arrow_forward</mat-icon>
      </button>

    </div>

    <div class="rd-map-container" *ngIf="mapApiLoaded$ | async">

    <google-map
      height="100%"
      width="100%"
      [zoom]="zoom"
      [options]="mapOptions">

      <map-marker #mapMarker="mapMarker"
                  *ngFor="let marker of markers; let i = index"
                  id="{{ 'mapMarker' + i }}"
                  [options]="marker.options"
                  (mapClick)="markerClick(mapMarker, i)"
                  [title]="marker.title"
                  [position]="marker?.position">
      </map-marker>

      <map-info-window>

        <div class="rd-map-info-window">
          <h3>{{ infoWindowContent.name }}</h3>
          <div class="rd-highlight">{{ infoWindowContent.cuisine }}</div>
          <div class="offer-panel" *ngIf="!!infoWindowContent.offers">
            <h4>MEMBER OFFER</h4>
            <div>{{ infoWindowContent?.offers }}</div>
          </div>
          <a *ngIf="!!infoWindowContent.spw"
             (click)="openSpw(infoWindowContent.spw, 'results_map_marker')" >SEE FULL DETAILS</a>
          <div class="distances" *ngIf="showDistanceData">
            <div class="distance">
              <h4>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="14" width="14">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path
                    class="rd-fill-accent"
                    d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94
      3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
                </svg>
              </h4>
              <span>{{ distanceData?.distance }}</span>
            </div>
            <div class="distance">
              <h4>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" height="14" width="14">
                  <path
                    class="rd-fill-accent"
                    d="M10 37.8v2.7q0 .65-.425 1.075Q9.15 42 8.5 42h-1q-.65 0-1.075-.425Q6 41.15 6 40.5V24.3l4.25-12.8q.25-.7.825-1.1.575-.4 1.325-.4h23.2q.75 0 1.325.4t.825 1.1L42 24.3v16.2q0 .65-.425 1.075Q41.15 42 40.5 42h-1.05q-.65 0-1.05-.425T38 40.5v-2.7Zm.15-16.5h27.7L35.1 13H12.9ZM9 24.3v10.5Zm5.3 8q1.15 0 1.925-.8.775-.8.775-1.9 0-1.15-.775-1.975-.775-.825-1.925-.825t-1.975.825q-.825.825-.825 1.975 0 1.15.825 1.925.825.775 1.975.775Zm19.45 0q1.15 0 1.975-.8.825-.8.825-1.9 0-1.15-.825-1.975-.825-.825-1.975-.825-1.15 0-1.925.825-.775.825-.775 1.975 0 1.15.8 1.925.8.775 1.9.775ZM9 34.8h30V24.3H9Z"/></svg>
              </h4>
              <span>{{ distanceData?.driving }}</span>
            </div>
            <div class="distance">
              <h4>
                <svg viewBox="0 0 27 43" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                  <path
                    class="rd-fill-accent"
                    d="M16,7.3 C15,7.3 14.1416667,6.94166667 13.425,6.225 C12.7083333,5.50833333 12.35,4.65
                12.35,3.65 C12.35,2.65 12.7083333,1.79166667 13.425,1.075 C14.1416667,0.358333333 15,0 16,0 C17,0 17.8583333,0.358333333 18.575,1.075 C19.2916667,1.79166667 19.65,2.65 19.65,3.65 C19.65,4.65 19.2916667,5.50833333 18.575,6.225 C17.8583333,6.94166667 17,7.3 16,7.3 Z M2.9,43 L8.75,13.55 L3.65,15.85 L3.65,22.5 L0.6,22.5 L0.6,13.85 L10.2,9.8 C11.1333333,9.4 12.1416667,9.3 13.225,9.5 C14.3083333,9.7 15.1333333,10.2166667 15.7,11.05 L17.8,14.35 C18.6666667,15.75 19.8583333,16.9583333 21.375,17.975 C22.8916667,18.9916667 24.65,19.5 26.65,19.5 L26.65,22.5 C24.4166667,22.5 22.425,21.9916667 20.675,20.975 C18.925,19.9583333 17.3,18.4333333 15.8,16.4 L13.75,24.2 L18.35,28.35 L18.35,43 L15.35,43 L15.35,31 L9.95,26.1 L6,43 L2.9,43 Z"></path>
                </svg>
              </h4>
              <span>{{ distanceData?.walking }}</span>
            </div>
          </div>
        </div>
      </map-info-window>

    </google-map>
    </div>
  </div>
</div>
