
<rd-loader
  class="fill-white"
  [class.rd-hide]="resultsLoaded$ | async"
  [loadText]="'Loading restaurants'">
</rd-loader>

<div class="rd-map">
  <div class="rd-component list">
    <div class="rd-map-nav">
      <span class="rd-map-nav-summary">{{ getBatchNavSummary() }}</span>
      <button [disabled]="currentOffset === 0"
              mat-icon-button
              (click)="prevBatch()"
              title="Previous {{ currentOffset }} restaurants">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        [disabled]="currentOffset + batchTotal >= getTotalResults()"
        mat-icon-button
              (click)="nextBatch()"
              title="Next {{ batchTotal }} restaurants">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <ul class="rd-map-list" [@fadeIn]="restaurants$ | async">
      <ng-container *ngIf="!(resultsLoaded$ | async)">
        <div class="rd-map-list-item-skeleton" *ngFor="let n of numbers">
          <div class="thumb"></div>
          <div>
            <span class="heading"></span>
            <span class="text"></span>
            <span class="text2"></span>
          </div>
        </div>
      </ng-container>


      <ng-container *ngIf="resultsLoaded$ | async">

      <li class="rd-map-list-item"
          *ngFor="let restaurant of restaurants$ | async; let i = index">
        <img [src]="restaurant?.image" loading="lazy" alt="Image of {{ restaurant?.restaurant_name }}">
        <div (click)="listClick(i)">
          <h3>{{ i + currentOffset + 1 }}. {{ restaurant.restaurant_name }}</h3>
          <p>{{ restaurant?.restaurant_address_1 }} {{ restaurant?.restaurant_address_3 }}</p>
          <div class="rd-flex">
            <span>{{ restaurant?.restaurant_cuisine_2 }}</span>
            <span class="rd-flex-spacer"></span>
            <span>{{ restaurant?.distance | number: '1.0-1' }} Km</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12px" height="12px">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path
                class="rd-icon-my-location"
                d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94
      3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </svg>
          </div>
        </div>
      </li>
      </ng-container>
    </ul>

  </div>

  <div class="rd-component map">

    <ng-container *ngIf="mapApiLoaded$ | async">

    <google-map width="100%"
                height="100%"
                [zoom]="zoom"
                [options]="mapOptions">

      <map-marker #mapMarker="mapMarker"
                  *ngFor="let marker of markers; let i = index"
                  id="{{ 'mapMarker' + i }}"
                  [options]="marker.options"
                  (mapClick)="markerClick(mapMarker, i)"
                  [title]="marker.title"
                  [position]="marker?.position">
      </map-marker>

      <map-info-window>
        <div class="rd-map-info-window">
          <h3>{{ infoWindowContent.name }}</h3>
          <div>{{ infoWindowContent.cuisine }}</div>
          <a *ngIf="!!infoWindowContent.spw" href="{{ infoWindowContent.spw }}" target="_blank">SEE FULL DETAILS</a>
        </div>
      </map-info-window>

    </google-map>
    </ng-container>
  </div>
</div>
