<rd-loader [class.rd-hide]="isLoaded">LOADING</rd-loader>
<!-- RESTAURANT RESULTS -->
<div class="rd-results-container">

  <div
    *ngFor="let restaurant of restaurants"
    class="rd-restaurant" (click)="openSPW(restaurant?.restaurant_spw_url)">
    <div class="rd-restaurant-detail">
      <h2>{{ restaurant?.restaurant_name }}</h2>
      <h3>
        {{ restaurant?.restaurant_cuisine_1 }}
        <span class="rd-flex-spacer"></span>
        <span>{{ restaurant?.distance | number: '1.0-1' }} km</span></h3>
      <p>{{ restaurant?.strap_line }}</p>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let feature of restaurant['attributes']">{{ feature }}</mat-chip>
      </mat-chip-list>
      <span class="arrow"></span>
    </div>
    <img src="assets/images/rest1.jpg" alt="restaurant image">
  </div>


  <div class="rd-filter-btn" [class.scale-in-center]="showFilterOptions">
    <button
      *ngIf="!filtersOn"
      mat-raised-button
      (click)="openFilterOptions()">
      Sort/Filter
      <mat-icon>filter_list</mat-icon>
    </button>
    <button
      *ngIf="filtersOn"
      mat-raised-button
      (click)="clearFilters()">
      Filtered by {{ routeFilter || 'distance' }}
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
