<rd-loader [class.rd-hide]="isLoaded">{{ config.i18n.Loading }}</rd-loader>
<!-- RESTAURANT RESULTS -->
<div class="rd-results-container">

  <div
    *ngFor="let restaurant of restaurants"
    class="rd-restaurant" (click)="openSPW(restaurant)">
    <div class="rd-restaurant-detail">
      <h2>{{ restaurant?.restaurant_name }}</h2>
      <h3>
        {{ restaurant?.restaurant_cuisine_1 }} | {{ restaurant?.restaurant_address_2 }}
        <span class="rd-flex-spacer"></span>
        <ng-container *ngIf="restaurant?.distance <= 10">
          <span>{{ restaurant?.distance | number: '1.0-1' }} km</span>
        </ng-container>
      </h3>
      <p>{{ restaurant?.strap_line }}</p>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let feature of restaurant['attributes']">{{ feature }}</mat-chip>
      </mat-chip-list>
    </div>
    <img [src]="restaurant?.image" loading="lazy" [alt]="restaurant?.restaurant_name">
  </div>

  <div class="rd-filter-btn" [class.scale-in-center]="showFilterOptions">
    <button
      *ngIf="!filtersOn && isLoaded"
      mat-raised-button
      (click)="openFilterOptions()">
      {{ config.i18n.Sort_filter }}
      <mat-icon>filter_list</mat-icon>
    </button>
    <button
      *ngIf="filtersOn && isLoaded"
      mat-raised-button
      (click)="clearFilters()">
      {{ config.i18n.Clear_filters }} {{ routeFilter || 'distance' }}
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
