<h1 mat-dialog-title>{{ config.i18n["Filter_by_cuisine"] }} </h1>
<div mat-dialog-content>
  <div class="rd-filter-list-container">
    <!-- Cuisine filters -->
    <section class="rd-filter-list" *ngIf="data['cuisines'].length > 1">
<!--      <h1>{{ config.i18n["Filter_by_cuisine"] }}</h1>-->
<!--      <ul>-->
<!--        <li *ngFor="let cuisine of data['cuisines']">-->
<!--          <a [mat-dialog-close]="{-->
<!--                type: 'filter',-->
<!--                cuisine: cuisine.Cuisine-->
<!--                }">-->
<!--            <mat-icon class="rd-icon-cuisine">restaurant</mat-icon>-->
<!--            {{ cuisine.Cuisine }}-->
<!--            <span class="rd-flex-spacer"></span>-->
<!--            <span class="rd-count">{{ cuisine.Count }}</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->

        <mat-selection-list #filters>
          <mat-list-option
            *ngFor="let cuisine of data['cuisines']"
            checkboxPosition="after"
            color="primary" [value]="cuisine.Cuisine">
            {{ cuisine.Cuisine }} ({{ cuisine.Count }})
          </mat-list-option>
        </mat-selection-list>
      <mat-dialog-actions class="rd-flex-end">
        <button mat-flat-button [mat-dialog-close]="filters.selectedOptions.selected">APPLY FILTER</button>
      </mat-dialog-actions>
    </section>

    <!-- Landmarks -->
<!--    <section class="rd-filter-list" *ngIf="data?.landmarks.length || !!data?.userPosition.inRange">-->
<!--      <h1>{{ config.i18n["Sort_by_location"] }}</h1>-->
<!--      <ul>-->
<!--        <li *ngIf="data?.userPosition.inRange">-->
<!--          <a-->
<!--            [mat-dialog-close]="{-->
<!--              type: 'geo',-->
<!--              lat: data?.userPosition?.lat,-->
<!--              lng: data?.userPosition?.lng-->
<!--              }">-->
<!--            <mat-icon class="rd-icon-my-location">my_location</mat-icon>-->
<!--            {{ config.i18n["My_current_location"] }}-->
<!--            <span class="rd-flex-spacer"></span>-->
<!--            <span class="rd-count"></span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li *ngFor="let landmark of data.landmarks">-->
<!--          <a-->
<!--            [mat-dialog-close]="{-->
<!--              type: 'geo',-->
<!--              lat: landmark?.channel_landmark_lat,-->
<!--              lng: landmark?.channel_landmark_lng,-->
<!--              label: landmark.channel_landmark_name-->
<!--              }">-->
<!--            <mat-icon class="rd-icon-location">location_on</mat-icon>-->
<!--            {{ landmark["channel_landmark_name"] }}-->
<!--            <span class="rd-flex-spacer"></span>-->
<!--            <span class="rd-count"></span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </section>-->
  </div>
</div>


<button mat-icon-button class="rd-dialog-close" [mat-dialog-close]="false"
        tabindex="-1"><mat-icon>close</mat-icon></button>
