
@import '~@angular/material/theming';
@include mat-core();

// Custom theme
$rc-whitelabel-app-primary: mat-palette($mat-deep-orange, A200);
$rc-whitelabel-app-accent: mat-palette($mat-orange, A200, A100, A400);
// The warn palette is optional (defaults to red).
$rc-whitelabel-app-warn: mat-palette($mat-deep-orange);
// Create the theme object
$rc-whitelabel-app-theme: mat-light-theme((
  color: (
    primary: $rc-whitelabel-app-primary,
    accent: $rc-whitelabel-app-accent,
    warn: $rc-whitelabel-app-warn,
  )
));

@include angular-material-theme($rc-whitelabel-app-theme);

// Default branding
$col-text: rgb(74, 74, 74);
$col-page-bgd: white;
$col-timer-outer: #454540;
$col-timer-inner: #bbb;


// Fonts
$font-family-default: Roboto, "Helvetica Neue", sans-serif;
$font-family-heading: 'Roboto Slab', 'Georgia', serif;
$font-weight-lite: 300;
$font-weight-regular: 400;
$font-weight-heavy: 500;
$layout-header-height: 64px;
$layout-max-width: 960px;

// Global resets
* { box-sizing: border-box; }
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a { text-decoration: none; }
html, body { height: 100%; }
body {
  height: 100%;
  margin: 0;
  font-family: $font-family-default;
  color: $col-text;
}
a, a:active, a:focus {
  outline: none;
}

// UTILS
.rd-flex-spacer { flex: 1 0 auto; }
.rd-hide { display: none; }
.rd-show { opacity: 1!important;}
.rd-invisible { opacity: 0; pointer-events: none; display: none !important;}
.rd-icon-restaurant { color: #484747 !important;}
.rd-icon-cuisine { color: #0bb0d9 !important;}
.rd-icon-location, .rd-icon-my-location { color: #ee4b08 !important; fill: #ee4b08}

// LAYOUT
main {
  max-width: $layout-max-width;
  margin: 0 auto;
  min-height: calc(99.9vh - 64px);
  padding: $layout-header-height 0 0;
}
header {
  width: 100vw;
  z-index: 10;
  position: fixed;
  transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
  background: $col-page-bgd;
  color: $col-text;
  &.rd-hideHeader {
    //transform: translateY(-56px);
  }
}
rd-header {
  display: flex;
  align-items: center;
  padding: 12px;
  a {
    display: flex;
    align-items: center;
  }
  .rd-logo { height: 40px; }
  h1 {
    font-size: 16px;
    font-weight: $font-weight-heavy;
    line-height: 1;
    margin: 0;
    text-align: center;
  }
  .mat-button {
    font-weight: $font-weight-regular;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
rd-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  color: $col-text;
  font-size: 9px;
  text-transform: uppercase;
}
// Loader
rd-loader {
  position: absolute;
  top:0;
  left: 0;
  height: calc(100vh - 64px);
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
.hourglass{
  display:block;
  background: $col-page-bgd;
  margin:1em auto;
  width:2em;
  height:4em;
  animation: hourglass 1s linear infinite;
}
.outer{ fill: $col-timer-outer }
.middle{ fill: $col-page-bgd; }
@keyframes hourglass{
  0%{
    transform:rotate(0deg);
    box-shadow:
            inset $col-timer-inner 0 -0em 0 0,
            inset white 0 -2em 0 0,
            inset $col-timer-inner 0 -4em 0 0;
  }
  80%{
    transform:rotate(0deg);
    box-shadow:
            inset $col-timer-inner 0 -2em 0 0,
            inset white 0 -2em 0 0,
            inset $col-timer-inner 0 -2em 0 0;
  }
  100%{
    transform:rotate(180deg);
    box-shadow:
            inset $col-timer-inner 0 -2em 0 0,
            inset white 0 -2em 0 0,
            inset $col-timer-inner 0 -2em 0 0;
  }
}

// SEARCH
.rd-quick-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rd-quick-links {
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-family: $font-family-heading;
    }
    > .mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
      margin-right: 4px;
      color: #666;
    }
  }
  ul {
    margin: 0 24px 12px 28px;
    li {
      > a {
        display: flex;
        align-items: center;
        padding: 6px 0;
        font-size: 16px;
        color: $col-text;
        font-weight: $font-weight-lite;
        &.rd-my-location {
          svg {
            margin: 0 7px 0 -25px;
          }
          //&:before {
          //  content: "";
          //  display: block;
          //  background: url('assets/images/my_location-black-18dp.svg') no-repeat;
          //  width: 20px;
          //  height: 20px;
          //  float: left;
          //  margin: 2px 4px 0 -25px;
          //}
        }
        span:last-child {
          font-size: 11px;
        }
      }
    }
  }
}
ul.rd-search-autofill {
  display: block;
  height: 0;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: all .3s ease-out;
  li {
    border-bottom: 1px solid #eee;
    > a {
      transition: all .3s ease-out;
      background-color: transparent;
      outline: none;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 16px 0;
      font-size: 16px;
      font-weight: $font-weight-regular;
      color: black;
      .mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-right: 4px;
        color: lightgray;
      }
      span:last-child { font-size: 11px; }
    }
  }
  &.open {
    height: auto;
    max-height: 600px;
  }
}
.rd-search-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 18px;
  transition: all .3s ease-out;
  h3 {
    font-family: $font-family-heading;
    margin: 0;
    padding: 0;
  }
  .rd-full-width {}
  .mat-form-field {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
  .mat-error {
    margin: -12px 0 24px;
    color: $col-text;
  }
  ul.rd-search-suggestions {
    margin: 0 0 12px;
    width: 100%;
    li > a {
      display: flex;
      align-items: center;
      line-height: 36px;
      margin: 0;
      font-size: 14px;
      font-weight: $font-weight-lite;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: $col-text;
      .mat-icon {
        color: red;
        margin-right: 8px;
      }
    }
  }
}

// RESULTS
.rd-results-container {
  .rd-restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    transition: all 500ms ease-out;
    .rd-restaurant-detail {
      position: relative;
      padding: 12px 16px 10px;
      // jagged border
      &:after {
        content:'';
        width: 100%;
        height: 5px;
        position: absolute;
        z-index: 2;
        left:0;
        // Top edge
        //bottom: calc(100% - 1px);
        //background-image: linear-gradient(135deg, transparent 66%, white 67%),
        //linear-gradient(45deg, white 33%, gray 34%, transparent 44%);
        // bottom edge
        top: calc(100% - 1px);
        bottom: auto;
        background-image: linear-gradient(135deg, white 33%, gray 34%, transparent 44%),
        linear-gradient(45deg, transparent 66%, white 67%);
        background-position: -5px 0;
        background-size: 10px 100%;
        background-repeat:repeat-x;
      }
      h2 {
        font: $font-weight-heavy 24px/28px $font-family-heading;
        margin: 0;
        display: flex;
        width: 100%;
      }
      h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        span {
          text-transform: lowercase;
        }
        .mat-icon {
          font-size: 12px;
          height: 12px;
          width: 12px;
        }
      }
      p {
        font-size: 16px;
        font-weight: $font-weight-lite;
        line-height: 20px;
        margin: 0 0 12px;
        padding: 0;
      }
      .mat-chip-list-wrapper {
        margin: 0;
      }
      .mat-chip {
        font-size: 10px;
        text-transform: uppercase;
        margin: 0 3px 3px 0;
        padding: 6px;
      }
      .mat-standard-chip {
        min-height: 24px;
        line-height: 13px;
        border-radius: 10px;
      }
    }
    img {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .rd-filter-btn {
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    bottom: 5vh;
    left: 0;
    width: 100%;
    transform: scale(0);
    .mat-raised-button {
      padding: 8px 20px;
      border-radius: 32px;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: $font-weight-regular;
      background: black;
      color: white;
      @include mat-elevation(10);
      &.rd-btn-clear {
        background-color: #ff2600;
      }
    }
    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
    .mat-icon { margin-left: 8px; }
  }
}
.rd-filter-list-container {
  display: flex;
  flex-direction: column;
}
.rd-filter-list {
  position: relative;
  margin-bottom: 24px;
  h1 {
    margin: 0 0 4px;
    padding: 0;
    display: flex;
    align-items: center;
    font: $font-weight-heavy 12px/16px $font-family-default;
    text-transform: uppercase;
  }
  li {
    border-bottom: 1px solid #eee;
    > a {
      display: flex;
      width: 100%;
      cursor: pointer;
      font-size: 16px;
      padding: 8px 0 8px 0;
      font-weight: $font-weight-lite;
      .rd-count {
        font-weight: $font-weight-heavy;
      }
      .mat-icon {
        color: lightgray;
        margin-right: 4px;
      }
    }
  }


}


/**
 * ----------------------------------------
 * Animations
 * ----------------------------------------
 */
.scale-in-center {
  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: scale-in-center 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* -----------------------------------
** MEDIA QUERIES
** ----------------------------------- */

@media screen and ( min-width : 600px ){
  .rd-quick-links-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .rd-quick-links {
    width: 33%;
  }
  header {
    &.rd-hideHeader {
      transform: translateY(-56px);
    }
  }
}
@media screen and ( min-width: 800px ) {
  .rd-results-container {
    padding: 1rem 0;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    .rd-restaurant {
      padding: 8px;
      border: 2px solid #eee;
      border-radius: 5px;
      &:hover {
        border-color: black;
        @include mat-elevation(2);
      }
      .rd-restaurant-detail {
        padding: 8px 0;

        p {
          margin: 4px 0 12px;
        }
      }
      img {
        vertical-align: baseline;
      }
    }
  }
  .rd-filter-list-container {
    display: flex;
    flex-direction: row;
  }
  .rd-filter-list {
    position: relative;
    width: 50%;
    padding: 0 24px;
  }
  .rd-search-content {
    margin-top: 24px;
  }
}
@media screen and ( min-width: 1200px ) {}

