
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rc-whitelabel-app-primary: mat-palette($mat-deep-orange, A200);
$rc-whitelabel-app-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rc-whitelabel-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rc-whitelabel-app-theme: mat-light-theme((
  color: (
    primary: $rc-whitelabel-app-primary,
    accent: $rc-whitelabel-app-accent,
    warn: $rc-whitelabel-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rc-whitelabel-app-theme);

// Vars
$colour-primary: #3994f0;
$colour-gray: rgb(74, 74, 74);
$colour-accent: #007bff;
$header-height: 64px;
$arrow-size: 48px;
$font-family-default: Roboto, "Helvetica Neue", sans-serif;
$font-family-heading: 'Roboto Slab', 'Georgia', serif;

// Globals
* { box-sizing: border-box; }
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-family-default;
  color: $colour-gray;
}

// Utilities
.spacer { flex: 1 0 auto; }

// Layout
main {
  max-width: 960px;
  margin: 0 auto;
  min-height: calc(99.9vh - 64px);
  padding: $header-height 0 0;
}
header {
  width: 100vw;
  z-index: 10;
  position: fixed;
  transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
  background: var(--brand-bgd);
  color: var(--brand-bgd-color);
}
.hideHeader { transform: translateY(-56px); }
rd-header {
  display: flex;
  align-items: center;
  padding: 12px;
  a {
    display: flex;
    align-items: center;
  }
  .rd-logo { height: 40px; }
  h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-align: center;
  }
  .mat-button {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
rd-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  //background: $colour-gray;
  color: $colour-gray;
  font-size: 9px;
  text-transform: uppercase;
}

// Browse
.rd-browse-content {
  padding-top: 24px;
  section {
    padding: 0 12px 0 24px;
    margin: 0 0 12px 0;
    h3 {
      display: flex;
      align-items: center;
      font: 500 20px/20px $font-family-heading;
      color: $colour-gray;
      margin: 0;
      text-transform: capitalize;
    }
    ul {
      margin: 0;
      padding: 0 18px 0 48px;
    }
    li {
      display: block;
      list-style: none;
      a {
        display: block;
        text-decoration: none;
        padding: 8px 0;
        color: $colour-gray;
        font-weight: 300;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
    .rd-browse-icon {
      margin: 6px 4px 0 -4px;
      path {
        fill: var(--brand-fill);
        opacity: .25;
      }
    }
  }
}
// Restaurant listing
.rd-results-container {
  .rd-restaurant {
    .rd-restaurant-detail {
      position: relative;
      padding: 12px 16px 10px;
      h2 {
        font: 500 22px/28px 'Roboto Slab';
        margin: 0;
      }
      h3 {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        margin: 8px 0;
      }
      .mat-chip-list-wrapper {
        margin: 0;
      }
      .mat-chip {
        font-size: 8px;
        text-transform: uppercase;
        margin: 0 2px 2px 0;
        padding: 0 8px;
      }
      .mat-standard-chip {
        min-height: 24px;
      }
      span {
        position: absolute;
        top: 100%;
        right: 10vw;
        margin: -1px 0 0 -0;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        border-top: $arrow-size/2 solid white;
      }
    }
    img {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .rd-more {
    display: flex;
    justify-content: center;
    padding: 24px 0;
  }
  .rd-filter-btn {
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: center;
    top: 80vh;
    width: 100%;
    transform: scale(0);
    .mat-raised-button {
      padding: 6px 18px;
      border-radius: 48px;
      background: $colour-primary;
      color: white;
    }
  }
  .rd-filter-options {
    position: fixed;
    z-index: 3;
    top: 0; left: 0;;
    display: none;
    background: #666;
    width: 100%;
    height: 100%;
  }
}
// Search
.rd-search-content {
  padding: 12px 18px;
  .rd-full-width { width: 100%; }
  .mat-form-field { font-size: 16px; }
  ul.rd-search-suggestions {
    margin: -12px 0 0;
    width: 100%;
    li > a {
      display: flex;
      align-items: center;
      padding: 8px 0;
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: $colour-gray;
      .mat-icon {
        color: var(--brand-primary);
        opacity: .5;
        margin-right: 8px;
      }
    }
  }

}

/**
 * ----------------------------------------
 * Animations
 * ----------------------------------------
 */
.scale-in-center {
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: scale-in-center 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}



