<!-- HEADER CONTENT -->
<div class="rd-title" *ngIf="!showSearchOption">
<!--  {{ config.channel.name | uppercase }}-->
  RECOMMENDED RESTAURANTS
</div>
<a routerLink="search">
  <img
    class="rd-logo"
    [src]="config.channel.brand?.logo"
    alt="Logo">
</a>
<span class="rd-flex-spacer"></span>
<ng-container *ngIf="showSearchOption">
  <ng-container *ngIf="showViews">
    <button mat-button (click)="switchView('list')">LIST</button>
    <button mat-button (click)="switchView('map')">MAP</button>
  </ng-container>

  <button
    mat-button
    routerLink=""
    @fadeIn>
    <mat-icon>search</mat-icon>
    <span class="hide-small">{{ config.i18n.Search }}</span>
  </button>
</ng-container>



