<!-- HEADER CONTENT -->
<div class="rd-title" *ngIf="!showSearchOption">
  {{ config.channel.name | uppercase }}
</div>
<a routerLink="search">
  <img
    class="rd-logo"
    [src]="config.channel.brand?.logo"
    alt="Logo">
</a>
<span class="rd-flex-spacer"></span>
<a (click)="switchView('list')">LIST VIEW</a>&nbsp;|&nbsp;
<a (click)="switchView('map')">MAP VIEW</a>
<button
  *ngIf="showSearchOption"
  mat-button
  routerLink="search"
  @fadeIn>
  <mat-icon>search</mat-icon>
  <span class="hide-small">{{ config.i18n.Search }}</span>
</button>



