<div class="rd-filter-btn" [class.scale-in-center]="showFilterOptions">

  <button
    *ngIf="!filterOn && (resultsLoaded$ | async)"
    mat-raised-button
    (click)="openFilterOptions()">
    {{ config.i18n.Sort_filter }}
    <mat-icon>filter_list</mat-icon>
  </button>

  <button
    class="rd-btn-clear"
    *ngIf="filterOn && (resultsLoaded$ | async)"
    mat-raised-button
    [title]="searchFilter"
    (click)="clearFilters()">
    {{ config.i18n.Clear_filters }}
    <mat-icon>cancel</mat-icon>
  </button>

</div>
