<div class="rd-search-content">
  <!-- SEARCH FORM -->
  <form #rdSearchForm="ngForm" (ngSubmit)="search(rdSearchForm.form.value)">
    <mat-form-field floatLabel="never">
      <input
        #rdSearchInput
        name="searchString"
        matInput
        autocomplete="off"
        type="text"
        [(ngModel)]="searchString"
        placeholder="Search by name or location"
        tabindex="1">
      <button
        mat-button
        type="button"
        *ngIf="searchString"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchString=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <!-- SEARCH SUGGESTIONS -->
  <ul class="rd-search-autofill" [class.open]="!!rdSearchInput.value">
    <li>
      <a [routerLink]="['/restaurants/nearest', 'west_pier']"><mat-icon>location_on</mat-icon>Nearest The West Pier</a>
    </li>
    <li>
      <a href="https://spw.restaurantcollective.uk/85719-sarao-2/"><mat-icon>food_bank</mat-icon>Pier
        Restaurant & Bar</a>
    </li>
  </ul>
  <!-- QUICK LINKS -->
  <div class="rd-quick-links-container" [class.dim]="rdSearchInput.value">
    <section class="rd-quick-links">
      <div>
        <mat-icon>watch_later</mat-icon>
        <h2>Recently Viewed</h2>
      </div>
      <ul>
        <li>
          <a href="https://spw.restaurantcollective.uk/85719-sarao-2/" target="_blank">
            Jeremy's Chicken Shack - Hove
          </a>
        </li>
        <li>
          <a href="https://spw.restaurantcollective.uk/85719-sarao-2/" target="_blank">
            Pizza Express - Brighton
          </a>
        </li>
      </ul>
    </section>
    <section class="rd-quick-links">
      <div>
        <mat-icon>my_location</mat-icon>
        <h2>Nearest to</h2>
      </div>
      <ul>
        <li>
          <a href="https://spw.restaurantcollective.uk/85719-sarao-2/" target="_blank">
            My current location
          </a>
        </li>
        <li>
          <a [routerLink]="['/restaurants/nearest','regency_palace']">
            The Royal Pavilion</a>
        </li>
        <li>
          <a [routerLink]="['/restaurants/nearest','exhibition_centre']">
            Exhibition Centre</a>
        </li>
      </ul>
    </section>
    <section class="rd-quick-links">
      <div>
        <mat-icon>restaurant</mat-icon>
        <h2>Cuisines</h2>
      </div>
      <ul>
        <li>
          <a [routerLink]="['/restaurants','pizza']">
            Chinese Restaurants
          </a>
        </li>
        <li>
          <a [routerLink]="['/restaurants','indian']">
            Indian Restaurants
          </a>
        </li>
        <li>
          <a [routerLink]="['/restaurants','indian']">
            Pizza Restaurants
          </a>
        </li>
      </ul>
    </section>
    <section class="rd-quick-links">
      <div>
        <mat-icon>fastfood</mat-icon>
        <h2>Features</h2>
      </div>
      <ul>
        <li>
          <a [routerLink]="['/restaurants','take_away']">
            Take-Away Services
          </a>
        </li>
        <li>
          <a [routerLink]="['/restaurants','alfresco']">
            Outside Dining
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
