<div
  [class.loaded]="isLoaded"
  class="rd-search-container"
  @fadeInSlideUp>

  <rd-loader
    class="fill-accent"
    [class.rd-hide]="isLoaded && config.channelLoaded"
    [loadText]="config.i18n['Loading']">
  </rd-loader>

  <div class="rd-search-content" [class.rd-show]="isLoaded && config.channelLoaded">
    <!-- SEARCH FORM -->
    <form #rdSearchForm="ngForm" (ngSubmit)="doSearch(rdSearchInput.value)">
      <mat-form-field floatLabel="never" appearance="standard">
        <mat-label><mat-icon>search</mat-icon>
          {{ config.i18n['Search'] }}</mat-label>
        <input
          #rdSearchInput
          name="searchString"
          matInput
          (keyup)="doSearch(rdSearchInput.value)"
          autocomplete="off"
          type="text"
          ngModel
          placeholder="{{ channelConfig.searchPlaceholderTxt }}"
          tabindex="0">
        <button
          mat-button
          type="button"
          *ngIf="rdSearchInput.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          tabindex="-1"
          (click)="searchReset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="noSuggestions" @fadeIn>
        {{ config.i18n["No_matching_search_results"] }}
      </mat-error>
    </form>

    <!--  Search Results -->
    <ul [class.open]="!!rdSearchInput.value && !!searchSuggestions" class="rd-search-autofill">

      <!-- Suggestions -->
      <li *ngFor="let displayItem of searchSuggestions; let i = index" [tabindex]="i + 1" [ngSwitch]="displayItem.cat">

        <!-- Sites -->
        <a *ngSwitchCase="'site'" [routerLink]="displayItem.route">
          <mat-icon class="rd-icon-location">{{ icons['location'] }}</mat-icon>
          {{ displayItem?.name }}
          <span class="rd-flex-spacer"></span>
          <span></span>
        </a>

        <!-- Landmarks -->
        <a *ngSwitchCase="'location'" [routerLink]="displayItem.route">
          <mat-icon class="rd-icon-location">{{ icons['location'] }}</mat-icon>
            {{ displayItem?.name }}
          <span class="rd-flex-spacer"></span>
          <span></span>
        </a>

        <!-- Restaurants -->
        <a *ngSwitchCase="'restaurant'" [routerLink]="[]" (click)="viewRestaurantSpw(displayItem)">
          <mat-icon class="rd-icon-restaurant">{{ icons['restaurant'] }}</mat-icon>
          {{ displayItem?.name }}
          <span class="rd-flex-spacer"></span>
          <span>{{ displayItem.misc }}</span>
        </a>

        <!-- Cuisines -->
        <a *ngSwitchCase="'cuisine'" [routerLink]="displayItem.route">
          <mat-icon class="rd-icon-cuisine">{{ icons['cuisine'] }}</mat-icon>
          {{ displayItem?.name }}
          <span class="rd-flex-spacer"></span>
          <span class="rd-count" *ngIf="!!displayItem.misc">{{ displayItem.misc }}</span>
        </a>

      </li>
    </ul>

    <!-- Quick links -->
    <div class="rd-quick-links-container" [class.rd-invisible]="searchSuggestions?.length">

      <section *ngIf="channelConfig.showRecentlyViewed" class="rd-quick-links">
        <div>
          <mat-icon class="rd-icon-restaurant">{{ icons.restaurant }}</mat-icon>
          <h2>{{ config.i18n["Recently_viewed"] }}</h2>
        </div>
        <ul>
          <li *ngIf="!recentlyViewed?.length">
            <a>{{ config.i18n["You_are_new"] }}</a>
          </li>
          <li *ngFor="let recent of recentlyViewed">
            <a target="_blank" (click)="viewRecentlyViewed(recent)">
              {{ recent['restaurant_name'] }}
            </a>
          </li>
        </ul>
      </section>

      <section class="rd-quick-links" *ngIf="(landmarks?.length || userPosition?.inRange) && channelConfig.showLandmarks">
        <div>
          <mat-icon class="rd-icon-location">{{ icons.location }}</mat-icon>
        <h2>{{ config.i18n["Nearest_to"] }}</h2>
        </div>
        <ul>
          <li *ngIf="userPosition?.inRange">
            <a
              class="rd-my-location"
              [routerLink]="['/restaurants/map/',
              userPosition?.lat + ':' +  userPosition?.lng]">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18px" height="18px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path
                  class="rd-icon-my-location"
                  d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94
      3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
              </svg>
              {{ config.i18n["My_current_location"] }}!
            </a>
          </li>
          <li *ngFor="let landmark of landmarks">
            <a [routerLink]="['/restaurants', channelConfig.defaultView, landmark?.channel_landmark_lat + ',' +
            landmark?.channel_landmark_lng]">
              {{ landmark?.channel_landmark_name }}
            </a>
          </li>
        </ul>
      </section>

      <section *ngIf="channelConfig.showCuisines && cuisines.length" class="rd-quick-links">
      <div>
        <mat-icon class="rd-icon-cuisine">{{ icons.cuisine }}</mat-icon>
        <h2>{{ config.i18n["Cuisines"] }}</h2>
      </div>
      <ul>
        <li *ngFor="let cuisine of getTopCuisines()">
          <a [routerLink]="['/restaurants', 'list', config.channel.latitude + ',' + config.channel.longitude, cuisine.label]">
            {{ cuisine?.label }}
            <span class="rd-flex-spacer"></span>
            <span>{{ cuisine?.total }}</span>
          </a>
        </li>
      </ul>
    </section>

    </div>
  </div>
</div>
